<h2 style="color: #75aadb;">00 | Libraries</h2>

In [4]:
# üìö Basic libraries
import pandas as pd
import numpy as np 

# File system libraries
import os
import sys
import pickle

# üìù Text Processing
import nltk 
# from nltk.stem import WordNetLemmatizer # to lemmatize the words
# from nltk.tokenize import word_tokenize
# from nltk.corpus import stopwords # to remove the stopwords
# from sklearn.feature_extraction.text import CountVectorizer # to create a bag of words
# from transformers import RobertaForSequenceClassification, RobertaTokenizer, Trainer, TrainingArguments

# # ü§ñ Machine Learning
# from sklearn.model_selection import train_test_split, cross_val_score

# Add the root directory to sys.path 
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

# Project libraries
import utils.cleanup as cl

# ‚öôÔ∏è Settings
pd.set_option('display.max_columns', None) # display all columns
import warnings
warnings.filterwarnings('ignore') # ignore warnings

<h2 style="color: #75aadb;">01 | Data Extraction</h2>

In [5]:
# Load books dataset
data1 = pd.read_csv('../datasets/books_data.csv')
books_df = data1.copy()

# Explore data
books_df.head(10)

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN
5,The Church of Christ: A Biblical Ecclesiology ...,In The Church of Christ: A Biblical Ecclesiolo...,['Everett Ferguson'],http://books.google.com/books/content?id=kVqRa...,http://books.google.nl/books?id=kVqRaiPlx88C&p...,Wm. B. Eerdmans Publishing,1996,http://books.google.nl/books?id=kVqRaiPlx88C&d...,['Religion'],5.0
6,The Overbury affair (Avon),NaN,['Miriam Allen De Ford'],NaN,http://books.google.nl/books?id=mHLTngEACAAJ&d...,NaN,1960,http://books.google.nl/books?id=mHLTngEACAAJ&d...,NaN,NaN
7,A Walk in the Woods: a Play in Two Acts,NaN,['Lee Blessing'],NaN,http://books.google.nl/books?id=6HDOwAEACAAJ&d...,NaN,1988,http://books.google.nl/books?id=6HDOwAEACAAJ&d...,NaN,3.0
8,Saint Hyacinth of Poland,The story for children 10 and up of St. Hyacin...,['Mary Fabyan Windeatt'],http://books.google.com/books/content?id=lmLqA...,http://books.google.nl/books?id=lmLqAAAACAAJ&d...,Tan Books & Pub,2009-01-01,http://books.google.nl/books?id=lmLqAAAACAAJ&d...,['Biography & Autobiography'],NaN
9,Rising Sons and Daughters: Life Among Japan's ...,Wardell recalls his experience as a foreign st...,['Steven Wardell'],NaN,http://books.google.nl/books?id=rbLZugEACAAJ&d...,Plympton PressIntl,1995,http://books.google.nl/books?id=rbLZugEACAAJ&d...,['Social Science'],NaN

In [6]:
books_df.shape

(212404, 10)

In [7]:
# Load reviews dataset
data2 = pd.read_csv('../datasets/books_rating.csv')
reviews_df = data2.copy()

# Explore data
reviews_df.head(10)

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...
5,0826414346,Dr. Seuss: American Icon,NaN,A2F6NONFUDB6UK,Malvin,2/2,4.0,1127174400,One of America's greatest creative talents,"""Dr. Seuss: American Icon"" by Philip Nel is a ..."
6,0826414346,Dr. Seuss: American Icon,NaN,A14OJS0VWMOSWO,Midwest Book Review,3/4,5.0,1100131200,A memorably excellent survey of Dr. Seuss' man...,Theodor Seuss Giesel was best known as 'Dr. Se...
7,0826414346,Dr. Seuss: American Icon,NaN,A2RSSXTDZDUSH4,J. Squire,0/0,5.0,1231200000,Academia At It's Best,When I recieved this book as a gift for Christ...
8,0826414346,Dr. Seuss: American Icon,NaN,A25MD5I2GUIW6W,"J. P. HIGBED ""big fellow""",0/0,5.0,1209859200,And to think that I read it on the tram!,Trams (or any public transport) are not usuall...
9,0826414346,Dr. Seuss: American Icon,NaN,A3VA4XFS5WNJO3,Donald Burnside,3/5,4.0,1076371200,Fascinating account of a genius at work,"As far as I am aware, this is the first book-l..."

In [8]:
reviews_df.shape

(3000000, 10)

<h2 style="color: #75aadb;">02 | Data Cleaning and Basic Preprocessing</h2>

### Cleaning Reviews Dataframe

In [10]:
# For reviews_df I only want a few columns
df_clean = reviews_df[['Title', 'review/summary', 'review/text', 'review/score']]

In [13]:
cl.data_analysis(df_clean)

There are 3000000 rows.
There are 4 columns.

               data_types  nunique_values
Title              object          212403
review/summary     object         1592314
review/text        object         2062648
review/score      float64               5

In [12]:
# Data evaluation
cl.explore_data(df_clean)

‚ùóWATCH OUT: There are 378849 duplicated rows.

                nan  empty_spaces
Title           208             0
review/summary  407             0
review/text       8             0
review/score      0             0

In [16]:
# Delete duplicated rows
df_clean = cl.remove_duplicates(df_clean)

In [17]:
# Delete nan rows in Title and review/summary columns
df_clean = cl.remove_nans_by_column(df_clean, 'Title')
df_clean = cl.remove_nans_by_column(df_clean, 'review/summary')

In [18]:
df_clean.shape

(2620618, 4)

In [19]:
# Group reviews and aggregate
df_clean['review/text'] = df_clean['review/text'].fillna('').astype(str)
df_grouped = df_clean.groupby('Title', as_index=False).agg({
    'review/summary': ' '.join,
    'review/text': ' '.join,
    'review/score': 'mean'
})

In [21]:
# Rename columns for clarity
df_grouped.rename(columns={
    'review/summary': 'all_summaries',
    'review/text': 'all_texts',
    'review/score': 'avg_score'
}, inplace=True)

### Cleaning Books Dataframe

In [9]:
# üßπ Drop the columns that are not needed: links an images
books_df.drop(['image', 'previewLink', 'infoLink'], axis=1, inplace=True)

In [22]:
cl.data_analysis(books_df)

There are 212404 rows.
There are 7 columns.

              data_types  nunique_values
Title             object          212403
description       object          133226
authors           object          127278
publisher         object           16016
publishedDate     object           11582
categories        object           10883
ratingsCount     float64             478

In [24]:
# Data evaluation
cl.explore_data(books_df)

‚úÖ There are no duplicated rows!

                  nan  empty_spaces
Title               1             0
description     68442             0
authors         31413             0
publisher       75886             0
publishedDate   25305             0
categories      41199             0
ratingsCount   162652             0

### Merge dataframes

In [25]:
# Merge the two DataFrames on 'Title'
merged_df = pd.merge(books_df, df_grouped, on='Title', how='inner')

In [26]:
# Data evaluation
cl.explore_data(merged_df)

‚úÖ There are no duplicated rows!

                  nan  empty_spaces
Title               0             0
description     68440             0
authors         31411             0
publisher       75884             0
publishedDate   25305             0
categories      41196             0
ratingsCount   162647             0
all_summaries       0             0
all_texts           0             0
avg_score           0             0

In [28]:
br_df = merged_df[['Title', 'authors', 'categories','all_summaries', 'all_texts', 'avg_score']]

In [29]:
# Normalize column names
br_df = cl.to_snake_case(br_df)

In [31]:
# Round the average score
br_df['avg_score'] = br_df['avg_score'].round(2)

In [32]:
br_df.head(5)

,title,authors,categories,all_summaries,all_texts,avg_score
0,Its Only Art If Its Well Hung!,['Julie Strain'],['Comics & Graphic Novels'],Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...,4.00
1,Dr. Seuss: American Icon,['Philip Nel'],['Biography & Autobiography'],Really Enjoyed It Essential for every personal...,I don't care much for Dr. Seuss but after read...,4.56
2,Wonderful Worship in Smaller Churches,['David R. Ray'],['Religion'],Outstanding Resource for Small Church Pastors ...,"I just finished the book, &quot;Wonderful Wors...",5.00
3,Whispers of the Wicked Saints,['Veronica Haddon'],['Fiction'],not good Here is my opinion Buyer beware Fall ...,I bought this book because I read some glowing...,3.72
4,"Nation Dance: Religion, Identity and Cultural ...",['Edward Long'],NaN,interplay of traditions across Caribbean,from publisher:Addresses the interplay of dive...,5.00

In [33]:
# Saved the new merged dataset
br_df.to_csv('../datasets/amazon_books_reviews.csv', index=False)